.nav-fill {
    flex: 1 1 auto;
  }

.transparent {
  background: 0;
}

button {
  font-family: Maj-Bold, "Helvetica Neue", sans-serif!important;
  background: #D0004D;
  color: white;
  border-radius: 0;
  box-shadow: #878787 0 0 8px;
}
