mat-cell {
  font-family: Maj-Regular, "Helvetica Neue", sans-serif !important;
}

mat-header-cell {
  font-family: Maj-Regular, "Helvetica Neue", sans-serif !important;
}

mat-header-cell {
  font-size: 14px;
  letter-spacing: 0.5px;
}

h2 {
  margin-bottom: 30px;
}

.created-teams {
  margin-bottom: 15px;
}

.hang-team {
  margin-right: 15px;
}

.icon-color {
  background-color: #158a6b;
  border-radius: 0;
  color: white;
  float: left;
  padding-top: 6px;
  width: 36px;
  height: 36px;
}

.icon-color-blue {
  background-color: #3c3dd6;
  border-radius: 0;
  color: white;
  float: left;
  padding-top: 6px;
  width: 36px;
  height: 36px;
}


.create-button,
.print-button,
.close-button{
  border-radius: 0;
  color: white;
  width: 170px;
  margin-top: 15px;
  margin-bottom: 30px;
  padding-left: 0;
  float: left;
  box-shadow: #878787 0 0 8px;
  font-family: Maj-Regular, "Helvetica Neue", sans-serif !important;
}

.cancel-button {
  border-radius: 0;
  color: white;
  width: 170px;
  margin-top: 15px;
  margin-bottom: 30px;
  padding-left: 0;
  float: left;
  box-shadow: #878787 0 0 8px;
  font-family: Maj-Regular, "Helvetica Neue", sans-serif !important;
}

.icon-cancel-color {
  border-radius: 0;
  color: white;
  float: left;
  padding-top: 6px;
  width: 36px;
  height: 36px;
}

.d-print-block {
  font-size: 13px!important;
}
.center-dialog-close-button{
  margin: 0 auto 15px auto;
}
