.edit-poster {
  margin-top: 1.2em;
}

.icon-color {
  background-color: #158a6b;
  border-radius: 0;
  color: white;
  float: left;
  padding-top: 6px;
  width: 36px;
  height: 36px;
}

.create-button {
  border-radius: 0;
  color: white;
  width: 170px;
  margin-top: 15px;
  margin-bottom: 30px;
  padding-left: 0;
  float: left;
  box-shadow: #878787 0 0 8px;
  font-family: Maj-Regular, "Helvetica Neue", sans-serif !important;
}
.cancel-button {
  border-radius: 0;
  color: white;
  width: 170px;
  margin-top: 15px;
  margin-bottom: 30px;
  padding-left: 0;
  float: left;
  box-shadow: #878787 0 0 8px;
  font-family: Maj-Regular, "Helvetica Neue", sans-serif !important;
}

.icon-cancel-color {
  border-radius: 0;
  color: white;
  float: left;
  padding-top: 6px;
  width: 36px;
  height: 36px;
}

.text-color-red{
  color: #F44336;
}
